<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<hr />
<a href ="/celebrities/create">New Celebrity</a>
<hr />

<hr />
<a href ="/celebrities">Celebrities</a>
<hr />

<hr />
<a href ="/movies/create">New Movie</a>
<hr />

<hr />
<a href ="/movies">Movies</a>
<hr />