<h2>New movie</h2>

<form action="/movies/create" method="POST">
    <label for="title"> Title:
        <input type="text" name="title" id="">
    </label>

    <label for="genre"> Genre:
        <input type="text" name="genre" id="">
    </label>

    <label for="plot"> Plot:
        <input type="text" name="plot" id="">
    </label>

    <label for="cast"> Cast: </label>
    <select name="cast" multiple>
      <option disable selected value=""></option>
      {{#each celebs}}
        <option value="{{this._id}}">{{name}}</option>
      {{/each}}
    </select>

    <button type="submit">Create</button>
</form>